@media only screen and (min-width:500px){

body{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
}

#header{
    top: 0px; left: 0px;
    position:fixed;
    margin: 0px;
    width: 100vw;
    height: 9vh;
    min-height: 65px;
    z-index: 500; background-color: white;
}

#goated{
    position:relative;
    background-image: url(wallpaper.jpg);
    background-attachment: fixed;
    top:5.8vh;
    height: 92vh;
    width: 100%;
    background-size: contain;
    cursor: url(cursor.cur), auto;
}

html{
    border: none;
    scroll-behavior: smooth;
}

#Myresume{
    position: relative;
    height: 50px;
    width: 10vw; min-width: 150px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.7s ease;
    font-size: 1.12rem;
    font-weight: 600;
    font-family: 'Poppins';
    left: 42vw;
    top: 26vh;
}

#mypfp{
    position: absolute;
    top: 18vh;
    left: 10vw;
    height: 48vh;
    width: 20vw;
    object-fit: cover;
    border: solid 2px white;
    border-radius: 20px;
}
#vec{ position: absolute; top: 228.8vh;height: 78vh; width: auto;} #ellipse1{position: absolute; top: 239.8vh;left: 32vw;} #ellipse2{position: absolute; top: 272.7vh;left: 32vw;}
#mypfp:hover{
    scale: 1.02;
    transition: scale 0.2s ease;
}
#role1{position: relative;} #role2{position: relative;}
#Myresume:hover{
    color: white;
    border-color: white;
    background: none;
    transition: color 0.2s ease;
}
#role1{position: absolute; top: 237.2vh;left: 34vw; font-size: 2.9vh;font-weight: 600;} #role2{position: absolute; top: 270.38vh;left: 34vw; font-size: 2.9vh; font-weight: 600;} #desc1{position: absolute; top: 244.7vh;left: 34vw; font-size: 2.8vh;font-weight: 400;} #corp1{position: absolute; top: 241vh;left: 34vw; font-size: 2.28vh;font-weight: 500; opacity: 40%;} #desc2{position: absolute; top: 278.52vh;left: 34vw; font-size: 2.8vh; font-weight: 400;} #corp2{position: absolute; top: 274.6vh;left: 34vw; font-size: 2.29vh;font-weight: 500; opacity: 40%;}
#megagoated{
    position: relative;
    top: 72px;
    height: 1610px;
}

#photo1{position: absolute; width: 12vw; height: auto; left: 78vw; opacity: 62%; top: 64vh; scale: 0.8;} #photo2{position: absolute; width: 8vw; height: auto; left: 70vw; opacity: 32%; bottom: 10vh; scale: 0.8; } #photo3{position: absolute; width: 10vw; height: auto; top: 52vh; opacity: 72%; left: 62vw;scale: 0.8;} #photo4{position: absolute; width: 13vw; height: auto; top: 30vh; left: 78vw; opacity: 80%; scale: 0.8;} #photo5{position: absolute; width: 12vw; height: auto; top: 8vh; left: 62.8vw; scale: 1;}
#about{
    position: relative;
    top: 24vh;
    left: 42vw;
    color: white;
    font-size: 3.2vh;
    font-weight: 400;
    width: 48vw;
    transition: color 1s ease;
}
#projects0{position: relative;width: 95vw;border: solid 1px black;border-radius: 20px;left: 2.2vw;height: 100vh; top: 15vh;}
#about:hover{
    color: #8be181;
}

#profile{
    position: relative;
    width: 95vw;
    border: solid 1px black;
    border-radius: 20px;
    left: 2.2vw;
    height: 100vh;
    top: 5.8vh;
}
#Mywork{
    position: relative;
    color: black;
    height: 152px;
    font-size: 4.25vh;
    left: 5.8vw;
    top: 5.2vh;
    width: 320px;
    font-family: 'Poppins';
    font-weight: 600;
}
#sub{
    position: relative;
    bottom: 12vh;
    font-weight: 200;
    font-size: 2.8vh;
    left: 5.8vw;
    width: 25vw;
}
#footer{
    position: absolute;
    top: 428vh;
    height: 20vh;
    width: 100%;
    background-color: black;
}
#container-logos{
    position: absolute;
    height: 42px;
    width: 8%;
    top: 40px;
    left: 84%;
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: space-between;
}
#linkedinpng, #githubpng{
    height: 42px;
    width: 42px;
}
#email{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 8%;
    top: 38px;
    font-weight: 600;
}
#number{
    position: absolute;
    color: white;
    font-size: 22px;
    left: 8%;
    top: 70px;
    font-size: 18px;
    font-weight: 600;
}
#skillbox{
    position: relative;
    left: 3.2vw;
    border-radius: 20px;
    border: solid 1px;
    width: 42.7vw;
    padding: 52px;
    top: 20vh;
    transition: background-color 0.2s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
#role{
    font-weight: 600;
    font-size: 4.25vh;
}
#lang{
    font-size: 3.5vh;
    top: 1vh;
    font-weight: 600;
    position: relative;
    color: #7300DE;
}
#skills,#Libraries{
    font-size: 2.8vh;
    font-weight: 400;
}
#libandframeworks{
    font-size: 3.5vh;
    font-weight: 600;
    position: relative;
    top: 12px;
    color: #7300DE;
}

#box1{
    position: relative;
    height: 67vh;
    width: 33.8vw;
    left: 3.2vw;
    border-radius: 20px;
    border: solid 1px;
    box-shadow: 2px 2px 5.2px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    bottom: 10vh;
}
#box2{
    position: relative;
    height: 67vh;
    width: 33.8vw;
    left: 40.2vw;
    border-radius: 20px;
    border: solid 1px;
    box-shadow: 2px 2px 5.2px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    bottom: 76.6vh;
}
#box1:hover,#box2:hover{
    transform: scale(1.02) ;
}
#photo{
    position: relative;
    width: 20%; min-width: 150px;
    top: 120px;
    left: 7%;
    border: solid;
    padding: 4px;
    transition: all 0.4s ease;
}
#photo:hover{
    transform: scale(1.07);
}
#box1image{
    position: relative;
    height: 12vh; border-radius: 20px; border: solid black 2px; 
    width: auto;
    top: 2vh; left: 13.2vw;
}
#box2image{
    position: relative;
    height: 12vh; border-radius: 80px; border: solid black 2px;
    width: auto;
    top: 2vh; left: 13.2vw;
}
#Connect{
    position:absolute;
    top: 312.8vh;
    left: 62%;
    font-weight: 200;
    font-size: 1.5rem;
}
#Healbook{
    font-size: 2.8vh;
    color: black;
    text-align: left;
    position: relative;
    top: 2vh; left: 2vw;
    width: 30vw; font-weight: 400;
}
#TrenZing{
    font-size: 2.8vh;
    color: black;
    text-align: left;
    position: relative;
    top: 2vh; left: 2vw;
    width: 30vw; font-weight: 400;
}
#healbooklink{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 23vw;
    top: 60vh; font-family: 'poppins'; border: solid 2px black; border-radius: 20px; height: 6vh; width: 5.2vw; background-color: white; font-weight: 800;
} #healbooklink:hover{ transform: scale(1.08);}
#healbookgithub{
    position: absolute;
    height: 40px;
    width: 40px;
    opacity: 90%;
    left: 29vw;
    top: 60vh;
} #healbookgithub:hover{ transform: scale(1.08);}
#trenzinggithub{
    position: absolute;
    height: 40px;
    width: 40px;
    opacity: 90%;
    left: 29vw;
    top: 60vh;
} #trenzinggithub:hover{ transform: scale(1.08);}
#Trenzinglink{
    position: absolute;
    height: 40px;
    width: 40px;
    opacity: 80%;
    left: 23vw;
    top: 60vh; font-family: 'poppins'; border: solid 2px black; border-radius: 20px; height: 6vh; width: 5.2vw; background-color: white; font-weight: 800;
}
#Trenzinglink:hover{
    transform: scale(1.08);
}
.Loading-container{
    position: fixed;
    font-family: "Poppins";
    font-size: 40px;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    cursor: url(cursor.cur), auto;
    background-color: black;
    transition: all 0.4s ease; 
    z-index: 100000;
    opacity: 1;
}
#loadingicon{position:absolute; height: auto; width: 20%; left: 40%; top: 29%;}
#loadingtext{
    font-size: 2.22rem; text-align: center; justify-content: center; left: 10px;
}
}/* Bye */