@media only screen and (max-width:499px){
    body{
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        margin: 0;
    }
    #header{
        position:fixed; top: 0; 
        margin: 0px;
        width: 100vw;
        height: 9vh;
        min-height: 65px;
        z-index: 500;
        background-color: white; box-shadow: 1px 1px 10px black;
    }
    #Aboutme{font-family:'Poppins';font-size: 3.8vw; position:relative; top:2.5vh; left: 4.82vw; color: black; background: none;transition: scale 0.2s ease; border: none;} #myprofile{font-family:'Poppins';font-size: 3.8vw; position:relative; top:2.5vh; left: 4.82vw; color: black; background: none;transition: scale 0.2s ease; border: none;} #myprojects{font-family:'Poppins';font-size: 3.8vw; position:relative; top:2.5vh; left: 4.2vw; color: black; background: none;transition: scale 0.2s ease; border: none;} #myprojects:hover{transform: scale(1.02);} #myexperience{font-family:'Poppins';font-size: 3.8vw; position:relative; top:2.5vh; left: 3.28vw; color: black; background: none;transition: scale 0.2s ease; border: none;}
    #goated{
        position:relative;
        background-image: url(wallpaper.jpg);
        background-attachment: fixed;
        top:5.8vh;
        height: 92vh;
        width: 100%;
        background-size: contain;
        cursor: url(cursor.cur), auto;
    }
    
    html{
        border: none;
        scroll-behavior: smooth;
    }
    
    #Myresume{
        position: relative; color: black; text-decoration: underline;
        height: 40px;
        width: 46vw; min-width: 150px;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
        transition: background-color 0.7s ease;
        font-size: 1.12rem;
        font-weight: 600;
        font-family: 'Poppins';
        left: 27.29vw;
        top: 52vh;
    }
    
    #mypfp{
        position: absolute;
        top: 4.8vh;
        left: 19.82vw;
        height: 42vh;
        width: 60vw;
        object-fit: cover;
        border: solid 2px white;
        border-radius: 20px;
    }
    #vec{ position: absolute; top: 218.8vh;height: 80vh; width: 20vw;} #ellipse1{position: absolute; top: 228.8vh;left: 16.72vw;} #ellipse2{position: absolute; top: 262.8vh;left: 16.72vw;}
    #role1{position: relative;} #role2{position: relative;}
    #role1{position: absolute; top: 226.8vh;left: 24vw; font-size: 2.52vh;font-weight: 600;} #desc1{position: absolute; top: 234.2vh;left: 22.8vw; font-size: 1.58vh;font-weight: 400;width: 72vw;} #corp1{position: absolute; top: 230.38vh;left: 23.72vw; font-size: 1.6vh;font-weight: 500; opacity: 40%;} #desc2{position: absolute; top: 271.2vh;left: 22.6vw; font-size: 1.58vh; font-weight: 400; width: 75.2vw;} #corp2{position: absolute; top: 267.2vh;left: 23.2vw; font-size: 1.6vh;font-weight: 500; opacity: 40%;} #role2{line-height: 2.8vh; position: absolute; top: 261.72vh;left: 24.2vw; font-size: 2.52vh; font-weight: 600;} 
    #megagoated{
        position: relative;
        top: 72px;
        height: 1610px;
    }
    #highlight{position:fixed;top:2vh; height: 4.72vh; background-color: black; z-index: 100000; opacity: 20%; border-radius: 18px; transition: 0.25s ease;}
    #photo1{height: 0px} #photo2{height: 0;} #photo3{height: 0;} #photo4{height: 0;} #photo5{height: 0;}
    #about{
        position: relative;
        top: 51vh;
        left: 10vw;
        color: white;
        font-size: 3.72vw;
        font-weight: 400;
        width: 80vw;
        transition: color 1.2s ease;
        text-align: center;
    }
    #profile{
        position: relative;
        width: 95vw;
        border: solid 1px black;
        border-radius: 20px;
        left: 2.2vw;
        height: 60vh;
        top: 2.8vh;
        box-shadow: 2px 2px 10px black;
    }
    #projects0{position: relative;width: 95vw;border: solid 1px black;border-radius: 20px;left: 2.2vw;height: 138.38vh; top: 8vh;}
    #Mywork{
        position: relative;
        color: black;
        height: 152px;
        font-size: 3.25vh;
        left: 5.8vw;
        top: 0vh;
        width: 320px;
        font-family: 'Poppins';
        font-weight: 600;
    }
    #sub{
        position: relative;
        bottom: 18.2vh;
        font-weight: 200;
        font-size: 2.0vh;
        left: 5.8vw;
        width: 80vw;
    }
    #footer{
        position: absolute;
        top: 418.22vh;
        height: 20vh;
        width: 100%;
        background-color: black;
    }
    #container-logos{
        position: absolute;
        height: 42px;
        width: 8%;
        top: 32px;
        left: 84%;
        display: flex;
        flex-wrap: wrap; /* Allow images to wrap to the next line */
        justify-content: space-between;
    }
    #linkedinpng, #githubpng{
        height: 42px;
        width: 42px;
    }
    #email{
        position: absolute;
        color: white;
        font-size: 12px;
        left: 2.8%;
        top: 32px;
        font-weight: 600;
    }
    #number{
        position: absolute;
        color: white;
        font-size: 15px;
        left: 2.8%;
        top: 56px;
        font-weight: 600;
    }
    #skillbox{
        position: relative;
        left: 6vw;
        top: 2vh;
        width: 78vw;
    }
    #role{
        font-weight: 600;
        font-size: 3.25vh;
    }
    #lang{
        font-size: 2.5vh;
        top: 1vh;
        font-weight: 600;
        position: relative;
        color: #7300DE;
    }
    #skills,#Libraries{
        font-size: 2.2vh;
        font-weight: 400;
    }
    #libandframeworks{
        font-size: 2.5vh;
        font-weight: 600;
        position: relative;
        top: 12px;
        color: #7300DE;
    }
    
    #box1{
        position: relative;
        height: 60vh;
        width: 88vw;
        left: 3.2vw;
        border-radius: 20px;
        border: solid 1px;
        box-shadow: 2px 2px 5.2px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease;
        bottom: 17vh;
    }
    #box2{
        position: relative;
        height: 60vh;
        width: 88vw;
        left: 3.2vw;
        border-radius: 20px;
        border: solid 1px;
        box-shadow: 2px 2px 5.2px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease;
        bottom: 13.2vh;
    }
    #box1:hover,#box2:hover{
        transform: scale(1.02) ;
    }
    #photo{
        position: relative;
        width: 20%; min-width: 150px;
        top: 120px;
        left: 7%;
        border: solid;
        padding: 4px;
        transition: all 0.2s ease;
    }
    #photo:hover{
        transform: scale(1.07);
    }
    #box1image{
        position: relative;
        height: 12vh; border-radius: 20px; border: solid black 2px; 
        width: auto;
        top: 2vh; left: 32vw;
    }
    #box2image{
        position: relative;
        height: 12vh; border-radius: 80px; border: solid black 2px;
        width: auto;
        top: 2vh; left: 32vw;
    }
    #Connect{
        position:absolute;
        top: 302.8vh;
        left: 52%;
        font-weight: 200;
        font-size: 1rem;
    }
    #Healbook{
        font-size: 2.0vh;
        color: black;
        text-align: left;
        position: relative;
        top: 2vh; left: 6.2vw;
        width: 80vw; font-weight: 400;
    }
    #TrenZing{
        font-size: 2.0vh;
        color: black;
        text-align: left;
        position: relative;
        top: 2vh; left: 6.2vw;
        width: 80vw; font-weight: 400;
    }
    #healbooklink{
        position: absolute;
        left: 48vw;
        top: 52vh; font-family: 'poppins'; border: solid 2px black; border-radius: 20px; height: 6vh; width: 20.2vw; background-color: white; font-weight: 800;
    } #healbooklink:hover{ transform: scale(1.08);}
    #healbookgithub{
        position: absolute;
        height: 40px;
        width: 40px;
        opacity: 90%;
        left: 72vw;
        top: 52.28vh;
    } #healbookgithub:hover{ transform: scale(1.08);}
    #trenzinggithub{
        position: absolute;
        height: 40px;
        width: 40px;
        opacity: 90%;
        left: 72vw;
        top: 52.28vh;
    } #trenzinggithub:hover{ transform: scale(1.08);}
    #Trenzinglink{
        position: absolute;
        left: 48vw;
        top: 52vh; font-family: 'poppins'; border: solid 2px black; border-radius: 20px; height: 6vh; width: 20.2vw; background-color: white; font-weight: 800;
    }
    #Trenzinglink:hover{
        transform: scale(1.08);
    }
    .Loading-container{
        position: fixed;
        font-family: "Poppins";
        font-size: 40px;
        margin: 0;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        color: white;
        cursor: url(cursor.cur), auto;
        background-color: black;
        transition: all 0.4s ease; 
        z-index: 100000;
        opacity: 1;
    }
    #loadingicon{position:absolute; height: auto; width: 20%; left: 40%; top: 29%;}
    #loadingtext{
        font-size: 2.22rem; text-align: center; justify-content: center; left: 10px;
    }
}/* bye */